<div class="container">

  <div class="sidebar">
    <FORM>
      <input type="button" id="btn-atualizar" onClick="location.reload()" VALUE="Atualizar" />
    </FORM>
  </div>

  <div class="content">
    <table id="tabela-impressoras">
      <tr>
        <th>Status</th>
        <th onclick="sortTable(1)">Fila</th>
        <th onclick="sortTable(2)">IP</th>
        <th onclick="sortTable(3)">Marca</th>
        <th onclick="sortTable(4)">Modelo</th>
        <th onclick="sortTable(5)">Toner (%)</th>
        <th onclick="sortTable(6)">Kit de manuteção (%)</th>
        <th onclick="sortTable(7)">Unidade de imagem (%)</th>
        <th>Detalhes</th>
      </tr>
      {{#each tabela}}
        <tr>

          {{#ifString this.Status "Online"}}

            <td class="status-ball-ok"></td>

            <td class="text-left">{{this.Fila}}</td>
            <td><a href="http://{{this.IP}}" target="blank">{{this.IP}}</a></td>
            <td>{{this.Marca}}</td>
            <td class="text-left">{{this.Modelo}}</td>

            {{#if this.Toner 10}}
              <td class="error-color">{{this.Toner}}</td>
            {{else}}
              <td>{{this.Toner}}</td>
            {{/if}}

            {{#if this.KitDeManutencao 10}}
              <td class="error-color">{{this.KitDeManutencao}}</td>
            {{else}}
              <td>{{this.KitDeManutencao}}</td>
            {{/if}}

            {{#if this.UnidadeDeImagem 10}}
              <td class="error-color">{{this.UnidadeDeImagem}}</td>
            {{else}}
              <td>{{this.UnidadeDeImagem}}</td>
            {{/if}}
            <td>
              <form method="GET" action="/detalhes">
                <input type="hidden" name="ip" value="{{this.IP}}" />
                <input type="hidden" name="fila" value="{{this.Fila}}" />
                <input type="hidden" name="modelo" value="{{this.Modelo}}" />
                <input type="hidden" name="toner" value="{{this.Toner}}" />
                <input type="hidden" name="marca" value="{{this.Marca}}" />
                <input type="hidden" name="kitDeManutencao" value="{{this.KitDeManutencao}}" />
                <input type="hidden" name="unidadeDeImagem" value="{{this.UnidadeDeImagem}}" />
                <input type="submit" class="btn-details" value="+" />
              </form>
            </td>
          {{/ifString}}

          {{#ifString this.Status "Offline"}}
            <td class="status-ball-error"></td>
            <td class="text-left">{{this.Fila}}</td>
            <td>{{this.IP}}</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          {{/ifString}}

        </tr>
      {{/each}}
    </table>
  </div>

</div>