<div class="container">

  <FORM>
    <input
      type="button"
      id="btn-atualizar"
      onClick="location.reload()"
      VALUE="Atualizar"
    />
  </FORM>

  <table id="tabela-impressoras">
    <tr>
      <th>Fila</th>
      <th>IP</th>
      <th>Modelo</th>
      <th>Toner (%)</th>
      <th>Kit de manuteção (%)</th>
    </tr>
    {{#each tabela}}
      <tr>

        <td>{{this.Fila}}</td>
        <td>{{this.IP}}</td>
        <td>{{this.Modelo}}</td>

        {{#if this.Toner 10}}
          <td class="error-color">{{this.Toner}}</td>
        {{else}}
          <td>{{this.Toner}}</td>
        {{/if}}

        {{#if this.KitDeManutencao 10}}
          <td class="error-color">{{this.KitDeManutencao}}</td>
        {{else}}
          <td>{{this.KitDeManutencao}}</td>
        {{/if}}

      </tr>
    {{/each}}
  </table>

</div>